.list {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.hero_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .hero_overlay {
    height: 502px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .hero_overlay {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_overlay {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero_overlay {
  background-color: rgb(132, 161, 120);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero_overlay {
    background-image: url(../images/hero/dots-mobile.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: url(../images/hero/dots-mobile2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero_overlay {
    background-image: url(../images/hero/dots-tablet.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: url(../images/hero/dots-tablet2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero_overlay {
    background-image: url(../images/hero/dots_desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: url(../images/hero/dots_desktop2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

.hero_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 65px;
}

.about-ice-cream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .about-ice-cream {
    margin-bottom: 42px;
  }
}

.hero-title {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .hero-title {
    max-width: 247px;
    padding-top: 50px;
    font-size: 26px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 247px;
    padding-top: 14px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 367px;
    padding-top: 45px;
    margin-bottom: 28px;
    font-size: 38px;
    line-height: 1.26;
  }
}

.about-ice-cream__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
}

.products-anchor .link-products {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 104px;
  height: 34px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.products-anchor .link-products:hover, .products-anchor .link-products:focus {
  border: 2px solid #0a8817;
  outline: transparent;
}
@media screen and (min-width: 1200px) {
  .products-anchor .link-products {
    width: 130px;
    height: 38px;
    border-radius: 10px;
  }
}
.products-anchor .link-products:hover {
  border: 2px solid #0a8817;
}
.products-anchor .link-products:focus {
  border: 2px solid #0a8817;
  color: #fff;
}
.products-anchor .link-products:disabled {
  border-color: rgb(171, 171, 171);
}

.link-made {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #f8d24e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
@media screen and (min-width: 1200px) {
  .link-made {
    width: 134px;
    height: 42px;
    padding: 12px 34px;
    border-radius: 10px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 767px) {
  .link-made {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1199px) {
  .link-made {
    padding-left: 32px;
  }
}
.link-made:hover {
  color: #0a8817;
}
.link-made:focus {
  color: #fff;
}
.link-made:disabled {
  color: rgb(171, 171, 171);
}

.info-with-arrow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .info-with-arrow__list {
    display: none;
  }
}

.many-ice-cream__wrap .many-ice-cream__img {
  display: block;
}
@media screen and (min-width: 768px) {
  .many-ice-cream__wrap .many-ice-cream__img {
    width: 152px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .many-ice-cream__wrap .many-ice-cream__img {
    width: 225px;
  }
}

.info-with-arrow__text {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  font-size: 12px;
  width: 139px;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .info-with-arrow__text {
    font-size: 14px;
    width: 200px;
  }
}

.info-with-arrow__text::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 16px;
  background-size: contain;
  margin-top: 40px;
  left: 0;
  background-image: url(../images/hero/Arrow.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info-with-arrow__text::after {
    background-image: url(../images/hero/Arrow2x.png);
  }
}

.container-center {
  display: block;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.container-center .ice-creame-conus {
  position: absolute;
  width: 177px;
  bottom: 0;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  right: 0;
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .container-center .ice-creame-conus {
    width: 268px;
    margin-right: 92px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container-center .ice-creame-conus {
    width: 456px;
  }
}

.container-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ownership {
  padding-top: 28px;
}
@media screen and (max-width: 767px) {
  .ownership {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .ownership {
    padding-top: 53px;
  }
}

.ownership__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  right: 0;
}
@media screen and (min-width: 1200px) {
  .ownership__list {
    gap: 16px;
  }
}

.ownership__item {
  display: block;
}
@media screen and (min-width: 1200px) {
  .ownership__item {
    width: 79px;
  }
}

.ownership__amaunt {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .ownership__amaunt {
    width: 79px;
    font-size: 46px;
  }
}

.ownership__detail {
  display: block;
  width: 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .ownership__detail {
    width: 79px;
    font-size: 14px;
    line-height: 1.21;
  }
}/*# sourceMappingURL=main.css.map */