.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-icons);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.footer-socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials__icon {
  fill: var(--primary-white-color);
}
