body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, "Open Sans", sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
